@import "common.css";

@import "reset.css";
@import "//at.alicdn.com/t/font_2404973_34nppdi9u0p.css";

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote {
  margin: 0;
  padding: 0;
}

ul {
  text-decoration: none;
  list-style: none;
}
.hidden {
  display: none;
}
input {
  outline: none;
}
a {
  text-decoration: none;
  color: black;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}
/*  英雄联盟*/

.LOL {
  width: 100%;
  height: 100%;
  background-color: #000;
}
.LOL .lol-h1 {
  width: 100%;
  height: 17.6px;
  background-color: #000;
}
.LOL .header {
  width: 1358px;
  height: 78px;
  background-color: #000;
  margin: 0 auto;
}
.LOL .header .nav-all {
  position: relative;
}
.LOL .header .nav-all .nav {
  width: 747px;
  height: 78px;
  margin: 0 0 0 20px;
  padding-top: 16px;
  position: absolute;
  left: 140px;
}
.LOL .header .nav-all .nav li {
  width: 149.3px;
  height: 78px;
  float: left;
}
.LOL .header .nav-all .nav .nav-11 {
  display: block;
  width: 149.3px;
  height: 60px;
  background-color: #000;
}
.LOL .header .nav-all .nav .nav-11 .nav-1 {
  display: block;
  width: 149.3px;
  height: 26.4px;
  text-align: center;
  font-family: tahoma, "\5FAE\8F6F\96C5\9ED1", sans-serif;
  font-size: 19px;
  color: #fff;
}
.LOL .header .nav-all .nav .nav-11 .nav-2 {
  display: block;
  width: 149.3px;
  height: 17.6px;
  line-height: 1;
  text-align: center;
  font-family: tahoma, "\5FAE\8F6F\96C5\9ED1", sans-serif;
  font-size: 13px;
  color: #aeaeae;
}
.LOL .header .right-three .search-fang {
  width: 42px;
  height: 42px;
}
.LOL .header .right-three a {
  width: 42px;
  height: 42px;
  display: block;
}
.LOL .header .right-three .search-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: aqua;
}

/*  英雄联盟*/
